/* breakpoint - 630px */

@media(max-width:630px) {
    .cabecalho {
        flex-direction: column;
    }

    .cabecalho nav {
        flex-wrap: nowrap;
        height: auto;
    }

    .cabecalho a {
        padding: 2.5vh 0;
        font-size: 2rem;
    }

}

/* breakpoint - 630px */