/* UTILIZANDO A DIRECTIVA @IMPORT() */
@import url("./cabecalho.css");
@import url("./conteudo.css");
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
    font-size: 62.7%;
}

.tit-sec{
    text-align: center;
    font-size: 5rem;
}