/* UTILIZANDO A DIRECTIVA @IMPORT() */
@import url("./cabecalho.css");
@import url("./conteudo.css");
@import url("./rodape.css");
@import url("./break-point-630px.css");

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
    font-size: 62.7%;
}

.tit-sec{
    text-align: center;
    font-size: 5rem;
}



/* TABELA */

table{
  margin: 5% auto;
  border-collapse: collapse;
}

td,th{
  border:1px solid #000000;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #dddddd;
}
tr:nth-child(odd){
  background-color: #cccccc;
}

tr:hover{
  background-color: #1a1616bd;
  color: #fff;
}

td[colspan], td[rowspan]{
  text-align: center;
}

/* TABELA */