*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 80vh;
}

.form{
    width: 50%;
    height: 30%;
    margin: 0 auto;
}

input[type='text'],input[type='password']{
    width: 80%;
    margin: 1%;
    height: 30px;
}

button[type='submit']{
    display: block;
    width: 80%;
    height: 30px;
    margin: 1% auto;
    background-color: rgb(43, 99, 3);
    color: #fff;
    border: 1px none #dddddd;
    cursor: pointer;
}

.visor-calc input{
    color: #fff;
    background-color: rgba(245, 241, 10, 0.959);
    border: 1px none #dddddd;
    outline-color: #000000;
    letter-spacing: 1px;
    width: 100%;
}

.btn-calc{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.btn-calc button{
    flex-grow: 1;
    flex-basis: 150px;
    margin: 1% 1%;
}